<!DOCTYPE html>
<html>
    <link lang="de">
    <title>TANK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="./js/main.js"></script>
</head>
<body>
    <section class="sect_1">
        <header>
            Hello World
        </header>
    </section>
    <section class="sect_2">
        <img src="http://1079638729.rsc.cdn77.org/pic/v2/gallery/preview/futbol-logotipy-shahter-sport-23891.jpg" alt="">
    </section>
</body>
</html>